.mainfinder {
  width: 50%;
  position: absolute;
  top: 50%;
  right: 25%;
  left: 25%;
  overflow: auto;
  white-space: nowrap;
  text-align: center;
  font-size: 25px;
}

.mainfinder :before {
  display: inline-block;
  vertical-align: middle;
}

.form-control {
  color: black;
}

/* .input-group-btn:last-child>.btn {
  height: 54px;
} */

.ford {
  width: 25%;
  margin-top: 15px;
  margin-left: 15px;
  height: 34px;
}

.panel {
  width: 100%;
  border: 0;
  box-shadow: none;
}


.panel-default>.panel-heading {
  background-color: transparent;
  background-image: none;
}

a {
  cursor: pointer;
}